@import '../../default-styles/colours.scss';

.game-status-top {
	margin-top: 1em;
	width: 800px;
	position: absolute;
	color: $info-bar-text-colour;

	.variable-text {
		color: $variable-text-colour;
	}

	.game-status-left {
		margin-left: 20px;
		float: left;
	}
	
	.game-status-right {
		margin-right: 20px;
		float: right;
	
		.player-lives {
			height: 1em;
			width: 1.5em;
		}
	}
}
