@import '../../default-styles/colours.scss';

.game-status-bottom {
	width: 770px;
	top: 760px;
	position: absolute;
	color: $info-bar-text-colour;
	content: "";
	display: table;
	clear: both;
	padding: 5px 10px;

	.variable-text {
		color: $variable-text-colour;
	}

	.game-status-left {
		width: 340px;
		float: left;

		.player-lives {
			height: 20px;
			width: 20px;
		}
	}

	.game-status-centre {
		float: left;
		width: 150px;
	}
	
	.game-status-right {
		text-align: right;
		float: right;
		width: 256.66px;
	}
}
