$text-colour:				white;
$hi-score-text-colour:		red;

.game-status-bottom {
	width: 800px;
	top: 760px;
	position: absolute;
	color: $text-colour;

	.score-text {
		color: $hi-score-text-colour;
	}

	.game-status-left {
		margin-left: 20px;
		margin-top: 10px;
		float: left;

		.player-lives {
			height: 20px;
			width: 20px;
		}
	}
	
	.game-status-right {
		margin-right: 20px;
		margin-top: 10px;
		float: right;
	}
}
