$info-board-background: white;

.info-board {
	position: absolute;
	background-color: $info-board-background;;
	opacity: 0.9;
	z-index: 10000;
	margin-top: 18%;
	margin-left: 10%;
	width: 80%;
	height: 60%;

	.game-over-area {
		margin: 2em;
		text-align: center;

		.game-over-title {
			font-size: 1.6em;
		}

		.game-over-text {
			margin-top: 2em;
		}
	}

	.info-board-header {
		text-align: center;
		font-size: 1.8em;
		margin-top: 1em;

		.header-text {
			margin: 0 1em;
		}

		img {
			height: 1em;
			width: 1.5em;
		}
	}

	.info-board-instructions {
		margin: 0.5em;
		font-size: 0.8em;

		li {
			margin-bottom: 10px;
		}
	}

	.button-area {
		position: absolute;
		top: 85%;
		left: 30%;
		width: 60%;

		button {
			font-family: 'Press Start 2P', cursive;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
			background-color: #008CBA;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 1.5em;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		}

		button:hover {
			background-color: white;
			color: #008CBA;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
	}
}

@media (max-width: 600px) {
	.info-board {
		font-size: 0.8em;

		.button-area {
			left: 20%;
		}
	}
}

@media (max-width: 500px) {
	.info-board {
		font-size: 0.5em;

		.button-area {
			left: 20%;
		}
	}
}