@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

.frogger-play-container {
	width: 800px;
	height: 800px;
	font-family: 'Press Start 2P', cursive;
	background-image: url("../../../images/background.png");
	background-color: #cccccc;
	background-repeat: no-repeat, repeat;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
